<h2>Список клиентов: </h2>
<p>Тут Вы можете увидеть список записавшихся</p>

<table class="table table-striped">
	<thead>
		<tr>
			<th>Имя</th>
			<th>Телефон</th>
			<th>Время и дата</th>
			<th>Парикмахер</th>
			<th>Цвет</th>
		</tr>
	</thead>
		<tr>
			<td>Имя</td>
			<td>Телефон</td>
			<td>Время и дата</td>
			<td>Парикмахер</td>
			<td>Цвет</td>
		</tr>
	<tbody>
		<% @results.each do |row| %>
			<tr>
				<td><%= row['Name'] %></td>
				<td><%= row['Phone'] %></td>
				<td><%= row['DateStamp'] %></td>
				<td><%= row['Barber'] %></td>
				<td style="background-color: <%= row['Color'] %> "><%= row['Color'] %></td>
			</tr>
		<% end %>
	</tbody>
</table>